body{
margin: 0px;
padding: 0px;
}
.jumbotron {
    background-color: yellowgreen;
    color:black;
}

.card-hotel {
flex: 1 150px;
padding: 2px 5px 2px 5px ;
margin-top: 15px;
}

footer {
padding: 14px 10px 1px 10px;
background-color: yellowgreen;
margin-top: 15px;
margin-bottom: 0px;
}

.btn-reserva {
    width: 100%;
    border-radius: 25px;
}
