body{
margin: 0px;
padding: 0px;
}
.jumbotron {
    background: linear-gradient(to left, #00AAFF, #00FF6C);    color:black;
    margin-top: 50px;
}

.card-hotel {
flex: 1 200px;
margin-top: 10px;

}

footer {
padding: 10px 14px 10px 14px;
background: linear-gradient(to left, #00AAFF, #00FF6C);
margin-top: 15px;
margin-bottom: 0px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-adress-icon {
    padding-right: 10px;
}

.footer-redes-icon {
    margin-top: 10px;
}

